
@model AplikacioniPareTestCore.Models.Student








<table>

    <tr><td>ID</td><td>@Model.Id</td></tr>
    <tr><td>Emri</td><td>@Model.Emri</td></tr>
    <tr><td>Mosha</td><td>@Model.Mosha</td></tr>
</table>

